@font-face {
  font-family: 'icomoon';   
  src:  url('fonts/icomoon.eot?jtvxxj'); 
  src:  url('fonts/icomoon.eot?jtvxxj#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?jtvxxj') format('truetype'),
    
url('fonts/icomoon.woff?jtvxxj') format('woff'),
   
 url('fonts/icomoon.svg?jtvxxj#icomoon') format('svg');
  
font-weight: normal;
  
font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-user:before {
  content: "\e971";
}
.icon-plus:before {
  content: "\ea0a";
}
