.conteneur{
    border-style:solid;
    border-color:black;
    border-radius:25px;
    position:relative;
    height: 600px;
    text-align:center;
    width:150rem;
    margin:0 auto;
    margin-top:15px;
}
 .conteneur h2{
     color:red;
 }
.block{
    display:inline-block;
    text-align:left;
}
.label {
    display: block;
    color: black;
    margin: 10px 15px;
    font-size: 1.7rem;
}
.text-box{
    display:block;
    width: 200px;
    margin:10px 15px;
}
.titre{
    margin:10px 15px;
}
.conteneur_btn{
    display:block
}
input {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    background: #282828;
    font-size: 1.9rem;
    border-radius: 5px;
}
