*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #f0f0f0; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.btn {
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  background: #282828;
  font-size: 1.9rem;
  border-radius: 5px; }
  .btn--commander {
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
    margin-top: 5rem;
    border: 3px solid #fff;
    border-radius: 5px;
    transition: all .3s; }
    .btn--commander:hover {
      background: #fff;
      color: #282828; }
  .btn--quantite {
    width: 5rem;
    cursor: pointer; }
  .btn--commande-ajouter {
    width: 100%; }

.carriere-container {
  width: 100%;
  height: 400px;
  display: block;
  background-size: cover;
  background-image: url(../img/carriere.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  position: relative;
  transition: all .3s; }
  .carriere-container:hover {
    transform: scale(1.2); }
  .carriere-container__title {
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; }
  .carriere-container__link {
    color: #fff;
    text-decoration: none; }

.commande-container {
  padding: 1rem 3rem;
  border: 3px solid #000;
  position: relative;
  background: #fcfcfc; }
  .commande-container:after {
    content: "";
    display: table;
    clear: both; }
  .commande-container__numero {
    font-size: 2.3rem;
    margin-bottom: 1.5rem; }
  .commande-container__description {
    font-size: 2rem;
    margin-bottom: .7rem; }
  .commande-container__description-item {
    font-size: 1.5rem; }
  .commande-container__statut {
    font-size: 2rem;
    float: left;
    margin-top: 2rem; }
  .commande-container__btn-container {
    float: right;
    margin-top: 2rem; }

.connexion-form {
  max-width: 50rem;
  min-width: 35rem; }
  .connexion-form .btn-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around; }
  .connexion-form__text-input {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 1rem;
    margin-bottom: 2rem;
    border-radius: 3px;
    border: 0;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2); }
  .connexion-form__mpoublie {
    color: #000;
    font-size: 1.3rem; }
  .connexion-form__error-msg {
    display: none;
    background: orangered;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
    border-radius: 3px;
    margin-top: 1rem; }

.footer-list-container {
  text-align: center; }
  .footer-list-container__title {
    font-size: 1.7rem;
    margin-bottom: 2rem; }
  .footer-list-container__list {
    list-style-type: none; }
  .footer-list-container__items {
    margin-bottom: .6rem; }
  .footer-list-container__link {
    text-decoration: none;
    color: #282828;
    font-size: 1.5rem; }
    .footer-list-container__link:hover {
      text-decoration: underline; }

.info-lettre__titre {
  font-size: 4rem;
  color: #282828; }

.info-lettre__soustitre {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #282828; }

.info-lettre__input {
  width: 30rem;
  height: 3rem;
  display: block;
  margin-bottom: 1rem;
  padding-left: 1rem; }

.link-container {
  width: 100%;
  position: relative;
  border-top: 10px solid #f0f0f0;
  overflow: hidden;
  transition: all .3s; }
  .link-container__title {
    display: inline-block;
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    transition: all .3s; }
    .link-container__title:hover ~ .link-container__link {
      transform: scale(1.2); }
    .link-container__title .title__link {
      text-decoration: none;
      color: #fff; }
  .link-container:hover .link-container__title {
    border: 1rem solid #fff; }
  .link-container__link {
    display: inline-block;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    transition: all .3s;
    z-index: 1; }
    .link-container__link:hover {
      transform: scale(1.2); }
  .link-container--menu {
    background-image: url(../img/menu.jpg); }
  .link-container--restaurant {
    background-image: url(../img/restaurant.jpg); }
  .link-container--promotion {
    background-image: url(../img/promotion.jpg); }

.media-sociaux-container {
  text-align: center; }
  .media-sociaux-container__title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #282828; }
  .media-sociaux-container__link {
    display: inline-block;
    margin: 0;
    width: 5rem;
    height: 5rem;
    background-size: cover; }
    .media-sociaux-container__link:not(:last-child) {
      margin-right: 3.5rem; }
  .media-sociaux-container--fb {
    background-image: url(../../img/facebook-logo.jpg); }
  .media-sociaux-container--insta {
    background-image: url(../../img/facebook-logo.jpg); }
  .media-sociaux-container--youtube {
    background-image: url(../../img/facebook-logo.jpg); }

.menu-item {
  margin-right: 3rem;
  padding: 2rem 1rem;
  background: #fff;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3); }
  .menu-item__titre {
    font-size: 2.5rem;
    margin-bottom: 1rem; }
  .menu-item__prix {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .menu-item__img {
    width: 100%;
    background-size: cover; }
  .menu-item__details {
    margin-bottom: 2rem;
    color: #000;
    font-size: 1.4rem;
    display: block; }
  .menu-item__quantite-container {
    margin-bottom: 1rem; }
  .menu-item__quantite {
    border: 1px solid lightgrey;
    font-size: 1.5rem;
    border-radius: .3rem;
    padding-top: .8rem;
    width: 4rem;
    vertical-align: top;
    height: 4rem;
    display: inline-block;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem; }

.footer {
  position: relative; }

.copyright {
  width: 100%;
  height: 2.5rem;
  position: absolute;
  background-color: #282828;
  bottom: 0;
  color: #fff;
  padding-top: .5rem; }
  .copyright__copy {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: 1.2rem; }
  .copyright__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem; }
  .copyright--r {
    position: absolute;
    right: 0;
    margin-right: 2rem; }
  .copyright--r1 {
    position: absolute;
    right: 0;
    margin-right: 5.5rem; }

.row {
  width: 100%;
  content: "";
  display: table;
  clear: both;
  margin-bottom: 2rem; }
  .row .col-1-de-2 {
    width: calc(100% / 2);
    float: left; }
  .row .col-1-de-3 {
    width: calc((100% - 20px) / 3);
    float: left; }
    .row .col-1-de-3:not(:last-child) {
      margin-right: 10px; }
  .row .col-1-de-4 {
    float: left;
    width: calc(100% / 4); }
  .row .col-3-de-4 {
    width: calc(((100% - 25%) / 3) * 3);
    float: left; }

.header {
  height: 150px;
  background-color: #282828;
  margin: 0 auto;
  max-width: 150rem;
  position: relative; }
  .header__media-icons-container {
    width: 100%;
    height: 30px;
    background: #f0f0f0;
    position: relative; }
  .header__icon-p {
    color: #282828;
    font-size: 1.6rem;
    position: absolute;
    margin-top: 7px;
    right: 15rem; }
  .header__icon-u {
    color: #fff;
    font-size: 1.6rem;
    position: absolute;
    right: 9rem; }
  .header__telephone {
    font-size: 1.4rem;
    right: 4.6rem;
    padding-right: .8rem;
    border-right: 1px solid #282828;
    position: absolute;
    margin-top: 7px; }
  .header__fb-logo {
    width: 20px;
    height: 20px;
    right: 1.7rem;
    position: absolute;
    margin-top: 5px; }
  .header__logo-container {
    display: inline-block;
    margin-top: 3rem; }
  .header__logo {
    width: 200px;
    margin-left: 7rem; }
  .header__connection-container {
    display: block;
    position: absolute;
    right: 1rem;
    margin-right: 1rem;
    margin-top: 1.5rem; }
  .header__connection-link {
    color: #fff;
    font-size: 1.4rem; }
  .header .nav {
    display: inline-block;
    margin-left: 4rem;
    position: absolute;
    right: 25rem;
    top: 10.3rem; }
    .header .nav__list {
      display: inline-block; }
    .header .nav__item {
      display: inline-block; }
      .header .nav__item:after {
        content: "";
        display: block;
        height: 1.5px;
        width: 0%;
        background-color: #fff;
        transition: all .3s; }
      .header .nav__item:not(:last-child) {
        margin-right: 1rem; }
      .header .nav__item:hover:after {
        width: 100%; }
    .header .nav__link {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.8rem; }

.liens-principaux {
  max-width: 150rem;
  width: 100%;
  content: "";
  display: table;
  clear: both;
  margin: 0 auto; }

.carriere {
  max-width: 150rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
  overflow: hidden; }

.media {
  max-width: 150rem;
  width: 100%;
  height: 30rem;
  margin: 0 auto;
  margin-top: 5rem;
  content: "";
  display: table;
  clear: both; }

.footer {
  max-width: 150rem;
  padding: 4rem 0;
  border-top: #282828 5px solid;
  width: 100%;
  height: 30rem;
  background: #fff;
  margin: 0 auto;
  margin-top: 5rem;
  content: "";
  display: table;
  clear: both; }

.connexion-container {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 0 auto;
  width: 50%;
  max-width: 50rem;
  min-width: 40rem;
  height: auto;
  margin-top: 5rem;
  padding: 1rem 2rem; }
  .connexion-container__title {
    border-bottom: 0.4rem solid #282828;
    font-size: 3.5rem;
    margin-bottom: 2.5rem; }

.menu-commande-container {
  max-width: 150rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem; }
  .menu-commande-container .menu-list {
    background: #fff;
    list-style-type: none;
    padding: 2rem 1rem;
    text-align: center;
    margin-right: 2rem; }
    .menu-commande-container .menu-list__item {
      margin-bottom: 1rem; }

.suivi-commandes-container {
  max-width: 150rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem; }
  .suivi-commandes-container__titre {
    font-size: 3.5rem;
    margin-bottom: 2rem; }
